@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

figure{
	break-inside: avoid;
	margin: 1em 1em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller; /* font-style: italic; */
	margin: 1em; /* text-align: center; Note: the caption consists of many paragraphs about the figure */
}

figcaption p + p{
	text-indent: 0;
}

/* If the image is meant to be on its own page, also include this selector... */
figure.full-page{
	break-after: page;
	break-before: page;
}
